body{
  color: black;
  background: linear-gradient(white, green);
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  margin: 0px;
  color: white;
}
header {
  margin: 0px;
  background-color: black;
  padding: 10px;
}

nav{
  background-color:  black;
  padding: 10px;
  margin: 10px
}

main{
  background-color: black;
  padding: 10px;
  margin: 10px;
}

section{
  background-color: black;
  padding: 10px;
  margin: 10px;
}

footer{
  padding: 10px;
  margin: 10px;
}

h1{
  color:black;
}