body{
  background: linear-gradient(black, blue);
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  margin: 0px;
  color: white;
}
header {
  margin: 0px;
  background-color: black;
  padding: 10px;
}

nav{
  background-color:  black;
  padding: 10px;
  margin: 10px
}

main{
  background-color: black;
  padding: 10px;
  margin: 10px;
}

section{
  background-color: black;
  padding: 10px;
  margin: 10px;
}

footer{
  padding: 10px;
  margin: 10px;
}
h1{
  font-size: xx-large;
  color: whitesmoke;
}
h2{
 font-size: x-large;
}
h3{
  font-size: x-large;
  
}
h4{
  font-size: x-large;
}
h5{
  font-size: x-large;
}
h6{
  font-size: x-large;
}
h7{
  font-size: x-large;
}

